@model ShoeStoreASP.Models.Domain.Shoe

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Product Details</title>

    <!-- Link đến Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZwT" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-4">Product Details</h2>
        <div class="card">
            <img src="@Model.ImageUrl" class="img-thumbnail" alt="Shoe Image">

            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text">
                    <strong>Brand:</strong> @Model.BrandName <br />
                    <strong>Price:</strong> @Model.Price <br />
                    <strong>Stock Quantity:</strong> @Model.StockQuantity <br />
                    <strong>Shoe Type:</strong> @Model.Types <br />
                    <!-- Thêm các thông tin khác của sản phẩm tùy thuộc vào yêu cầu -->
                </p>
                <form  action="/Cart/AddToCart" method="post">
                    <input type="hidden" name="shoeId" value="@Model.ShoeId" />
                    <button type="submit" class="btn btn-primary" >Add to cart</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Link đến Bootstrap JS và jQuery (chú ý đặt jQuery trước Bootstrap JS) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
